/*body {*/
/*    display: grid;*/
/*    grid-template-rows: 50% 50%;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    font-family: "Lucida Console", Monaco, monospace;*/
/*    font-size: 12px;*/
/*    grid-gap: 4px;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    /*background: #2d2e2e;*/
    background-image: url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg");
}

header {
    text-align: center;
    padding: 50px;
    font-size: 4rem;
    color: antiquewhite;
}

#ticTacGrid {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*font-family: Comic Sans MS;*/
}

.ticTacContainer {
    position: center;
    /*right: 300px;*/
    /*background: #2d2e2e;*/
    width: 800px;
    margin: 20px auto;
    height: 800px;
    display: grid;
    /*grid-gap: 3px;*/
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 1fr 1fr 1fr;
}

.infoHubContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 20px;
    /*background-color: #2d2e2e;*/
    height: 400px;
    width: 300px;
}
.playerSymbolCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /*background-color: #2d2e2e;*/
    height: 200px;
    width: 300px;
}
.playerTurnCenter {
    /*background-color: #2d2e2e;*/
    height: 50px;
    width: 250px;
    font-size: 2rem;
    /*align-items: center;*/
    color: antiquewhite;
}
#cannotStartMessage {
    /*background-color: #2d2e2e;*/
    height: 50px;
    width: 250px;
    font-size: 2rem;
    /*align-items: center;*/
    color: #f53333;

}
label {
    font-weight: bold;
    font-size: 2rem;
    color: antiquewhite;
 }
input {
    width: 10%;
    margin: 5px 0;
    padding: 5px;
    font-size: 100%;
}
.winAndReset {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 20px;
    /*background-color: #2d2e2e;*/
    height: 200px;
    width: 200px;
}
#whoWon {
    font-size: 2rem;
    display: none;
    color: antiquewhite;
}
#resetBtn {
    width: 100%;
    font-size: 2rem;
    /*display: none;*/
}
#startGame {
    width: 100%;
    font-size: 2rem;
}

.square {
    font-size: 4rem;
}

#one {
    grid-row: 1;
    grid-column: 1;
    /*background-color: #2d2e2e;*/
    max-width:100%;
    max-height:100%;
    padding: 110px;
    color: #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;;
    /*border-bottom-color: #FFFFFF;*/
    text-align: center;
    line-height: 30px;
}

#two {
    grid-row: 1;
    grid-column: 2;
    /*background-color: #2d2e2e;*/
    color: #FFFFFF;
    padding: 110px;
    text-align: center;
    line-height: 30px;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    -webkit-transition:0.5s;
}
#three {
    grid-row: 1;
    grid-column: 3;
    /*background-color: #2d2e2e;*/
    color: #FFFFFF;
    padding: 110px;
    text-align: center;
    line-height: 30px;
    border-bottom: 5px solid #FFFFFF;
    -webkit-transition:0.5s;
}
#four {
    grid-row: 2;
    grid-column: 1;
    /*background-color: #2d2e2e;*/
    color: #FFFFFF;
    padding: 110px;
    text-align: center;
    line-height: 30px;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    -webkit-transition:0.5s;
    /*border-radius: 10px;*/
    /*margin: 5px;*/
    /*text-align: center;*/
    /*line-height: 100px;*/
}
#five {
    grid-row: 2;
    grid-column: 2;
    /*background-color: #2d2e2e;*/
    color: #FFFFFF;
    padding: 110px;
    text-align: center;
    line-height: 30px;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;;
    -webkit-transition: 0.5s;
}
#six {
    grid-row: 2;
    grid-column: 3;
    /*background-color: #2d2e2e;*/
    color: #FFFFFF;
    padding: 110px;
    text-align: center;
    line-height: 30px;
    border-bottom: 5px solid #FFFFFF;
    -webkit-transition: 0.5s;
}
#seven {
    grid-row: 3;
    grid-column: 1;
    /*background-color: #2d2e2e;*/
    color: #FFFFFF;
    padding: 110px;
    text-align: center;
    line-height: 30px;
    border-right: 5px solid #FFFFFF;
    -webkit-transition: 0.5s;
}
#eight {
    grid-row: 3;
    grid-column: 2;
    /*background-color: #2d2e2e;*/
    color: #FFFFFF;
    padding: 110px;
    text-align: center;
    line-height: 30px;
    border-right: 5px solid #FFFFFF;
    -webkit-transition: 0.5s;
}
#nine {
    grid-row: 3;
    grid-column: 3;
    /*background-color: #2d2e2e;*/
    color: #FFFFFF;
    padding: 110px;
    text-align: center;
    line-height: 30px;
    /*border: 2px solid #f3faf9;*/
    -webkit-transition: 0.5s;
}